.chat-main
  .chat-main__group-info
    .info-name
      = @group.name
      .info-name__member
        Member:
        - @group.users.each do |user|
          = user.name
        

    .info-edit
      = link_to edit_group_path(@group), class: "info-edit__btn" do
        Edit
  .messages
    = render @messages
       
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .message-form
        .master-form
          .master-form__text-form
            = f.text_field :content, class: 'text-input', placeholder: 'type a message'
          .master-form__icons
            = f.label :image, class: 'master-form__image' do
              = icon('fas','image',class: 'master-form__icon')
              = f.file_field :image, class: 'hidden'
        .send-form
          = f.submit 'Send', class: 'send-form'